In [1]:
import pandas as pd
import numpy as np

In [2]:
# generate random data for the dataframe
ids = range(1000)
revenues = np.random.uniform(low=0, high=25000, size=(1000,))
states = np.random.randint(low=1, high=51, size=(1000,))
dummy1 = np.random.uniform(low=10, high=500, size=(1000,))
dummy2 = np.random.randint(low=100, high=10000, size=(1000,))
df = pd.DataFrame({'id':ids, 'state':states, 'revenue':revenues, 'nonsense_1':dummy1, 'nonsense_2':dummy2})
df.head()

   id  nonsense_1  nonsense_2       revenue  state
0   0  471.845385        8911  24324.167872     33
1   1  121.850248         259  15150.651386     39
2   2  171.122319         513   6384.980849     16
3   3  372.707752        6010    313.662648      6
4   4  254.641812        3469   1935.898853      3

In [3]:
# sum the revenue for each state
rev_by_state = df.groupby(by=['state'])[['revenue']].sum()

In [4]:
# print each state and its revenue sum
for idx, row in rev_by_state.iterrows():
    print('{:3.0f}: {:.2f}'.format(idx, row.revenue))

  1: 304352.80
  2: 370089.00
  3: 190452.68
  4: 280144.84
  5: 321044.24
  6: 244087.26
  7: 332612.20
  8: 202189.07
  9: 306784.14
 10: 310643.17
 11: 218277.98
 12: 214974.16
 13: 312062.98
 14: 369511.69
 15: 253883.33
 16: 334079.54
 17: 212909.70
 18: 200097.05
 19: 281723.91
 20: 92046.24
 21: 253428.88
 22: 198975.77
 23: 308216.86
 24: 262942.77
 25: 247190.17
 26: 265731.38
 27: 301466.79
 28: 260517.12
 29: 156738.70
 30: 166488.08
 31: 199987.63
 32: 304363.69
 33: 298957.03
 34: 333698.36
 35: 257457.62
 36: 247574.86
 37: 196199.33
 38: 253584.48
 39: 236190.56
 40: 284337.64
 41: 220769.28
 42: 215777.73
 43: 189222.85
 44: 236311.47
 45: 292917.53
 46: 350553.39
 47: 255908.20
 48: 369870.24
 49: 218803.06
 50: 293638.97